.footer {
  text-align: center;
  padding-top: 40px;
  background-image: url(../imgs/desktop/backgrounds/bg-decor-big@1x-dekstop.webp);
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
  @media (min-device-pixel-ratio: 2),
    (min-resolution: 192dpi),
    (min-resolution: 2dppx) {
    background-image: url(../imgs/desktop/backgrounds/bg-decor-big@2x-dekstop.webp);
  }

  &__contacts {
    padding-bottom: 100px;
  }
  &__subheader {
    font-weight: 500;
    font-size: 32px;
    color: $decor-color;
    font-family: "Montserrat Alternates", sans-serif;
    text-align: center;
  }
  &__text {
    font-weight: 400;
    font-size: 18px;
    text-align: center;
    color: $decor-color;
    margin-top: 27px;
    margin-bottom: 16px;
  }
  &__input {
    display: block;
    width: 280px;
    margin-left: auto;
    margin-right: auto;
    border: none;
    border-bottom: 1px solid $additional-text;
    background-color: transparent;
    @media screen and (min-width: 768px) {
      width: 336px;
    }
  
    @media screen and (min-width: 1280px) {
      width: 394px;
    }
  }
  &__question {
    margin-top: 16px;
    color: $decor-color;
  }
  &__btn {
    font-weight: 400;
    font-size: 18px;
    text-align: center;
    color: $button-text;
    border: none;
    background-color: $accent;
    margin-top: 28px;
    border-radius: 25px;
    width: 145px;
    height: 40px;
    cursor: pointer;
    margin-left: auto;
    margin-right: auto;
    transition: all 250ms cubic-bezier(0.4, 0, 0.2, 1);
    &:hover {
      color: #f3848c;
      border: 1px solid #f3848c;
      box-shadow: 10px 15px 25px 0px rgba(232, 183, 183, 0.45);
      background: #fff;
    }
  }

  &__form {
    text-align: center;
    align-items: center;
  }
  &__list {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 16px;
    margin-top: 28px;
    margin-left: auto;
    margin-right: auto;
  }

  &__icon {
    fill: $additional-text;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }
  &__icon:hover {
    fill: $accent;
  }
  &__wrap {
    position: relative;
    padding-top: 40px;
    padding-bottom: 50px;
    @media screen and (min-width: 480px) {
      padding-top: 80px;
      padding-bottom: 80px;
    }
    @media screen and (min-width: 1280px) {
      padding-top: 100px;
      padding-bottom: 100px;
    }
  }
  &__container {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  &__link {
    display: flex;
    align-items: center;
    text-decoration: none;
    font-size: inherit;
  }
  &__phone {
    height: 20px;
    text-decoration: none;
    color: $decor-color;
  }
  &__location {
    height: 20px;
    text-decoration: none;
    color: $decor-color;
  }
  &__svg {
    fill: $decor-color;
    @media screen and (min-width: 480px) {
      display: none;
    }
  
  }
  &__img {
    position: absolute;
    top: 53px;
    left: 50%;
    transform: translateX(-50%);

    @media screen and (min-width: 480px) {
      display: none;
    }
  }
}
