.header {
  padding-top: 36px;

  &__box {
    padding-top: 56px;
    display: flex;
    margin-left: 16px;
  }

  &__logo {
    margin-right: 55px;
  }

  &__list {
    display: flex;
    gap: 20px;
    margin-right: 12px;
  }

  &__nav {
    font-family: var(--font-family);
    font-weight: 400;
    font-size: 18px;
    color: var(--osnovnoy-tekst);
  }

  &__btn {
    background-color: transparent;
    border: none;

    @media screen and (min-width: 1280px) {
      display: none;
    }
  }

}