.hero {
  padding-top: 86px;
 
  padding-bottom: 90px;
  background-size: cover;
  background-image: url(../imgs/mobile/hero/hero-bg@1x-mobile.webp);
  @media (min-device-pixel-ratio: 2),
    (-webkit-min-device-pixel-ratio: 2),
    (min-resolution: 192dpi),
    (min-resolution: 2dppx) {
    background-image: url("../imgs/mobile/hero/hero-bg@2x-mobile.webp");
  }
  background-repeat: no-repeat;
  background-position: center;
  @media screen and (min-width: 736px) {
    padding-top: 98px;
    background-image: url(../imgs/tablet/hero/hero-bg@1x-tablet.webp);
    @media (min-device-pixel-ratio: 2),
      (-webkit-min-device-pixel-ratio: 2),
      (min-resolution: 192dpi),
      (min-resolution: 2dppx) {
      background-image: url("../imgs/tablet/hero/hero-bg@2x-tablet.webp");
    }
  }
  @media screen and (min-width: 1280px) {
    
    padding-top: 171px;
    background-image: url(../imgs/desktop/hero/hero-bg@1x-desktop.webp);
    @media (min-device-pixel-ratio: 2),
      (-webkit-min-device-pixel-ratio: 2),
      (min-resolution: 192dpi),
      (min-resolution: 2dppx) {
      background-image: url("../imgs/desktop/hero/hero-bg@2x-desktop.webp");
    }
  }
  &__title {
    color: $main-text-color;
    text-align: center;
    font-family: Montserrat Alternates;
    font-size: 28px;
    font-weight: 600;
    letter-spacing: -0.84px;
    margin-bottom: 18px;
    max-width: 280px;
    @media screen and (min-width: 736px) {
      color: $main-text-color;
      font-family: Montserrat Alternates;
      font-size: 30px;
      font-weight: 600;
      text-align: start;
      margin-bottom: 20px;
      max-width: 319px;
    }
    @media screen and (min-width: 1280px) {
      color: $main-text-color;
      font-family: Montserrat Alternates;
      text-align: start;
      font-size: 60px;
      font-weight: 600;
      line-height: 1.8;
      margin-bottom: 20px;
      max-width: 757px;
    }
  }
  &__text {
  
    color: $main-text-color;
    font-family: Montserrat Alternates;
    font-size: 16px;
    font-weight: 500;
    margin-bottom: 28px;
    text-align: center;
    @media screen and (min-width: 736px) {
      text-align: start;
      color: $main-text-color;
      font-family: Montserrat Alternates;
      font-size: 16px;
      font-weight: 500;
      margin-bottom: 24px;
    }
    @media screen and (min-width: 1280px) {
      color: $main-text-color;
      font-family: Montserrat Alternates;
      font-size: 24px;
      font-weight: 500;
      margin-bottom: 28px;
    }
  }
  &__button {
    border: #f3848c 1px;
    border-radius: 25px;
    background: $accent;
    width: 145px;
    height: 40px;
    color: $button-text;
    text-align: center;
    font-family: Montserrat;
    font-size: 18px;
    font-weight: 400;
    margin-bottom: 32px;
margin-left: 65px;
    cursor: pointer;
    transition: all 250ms cubic-bezier(0.4, 0, 0.2, 1);

@media screen and (min-width: 736px){
  margin-left: 0;
}

    @media screen and (min-width: 1280px){
      border: #f3848c 1px;
      border-radius: 25px;
      background: $accent;
      width: 145px;
      height: 40px;
      color: $button-text;
      text-align: center;
      font-family: Montserrat;
      font-size: 18px;
      font-weight: 400;
      margin-bottom: 32px;
    }
  }

  &__button:hover {
    color: $accent;
    border-radius: 25px;
    border: 1px solid $accent;
    background: $button-text;
  }
  &__button:active {
    box-shadow: 0px 4px 4px 0px rgba(107, 66, 66, 0.25) inset,
      10px 15px 25px 0px rgba(232, 183, 183, 0.45);
  }
  &__list {
    display: flex;
    gap: 16px;
  }
  &__svg {
    width: 16px;
    height: 16px;
    cursor: pointer;
    transition: all 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }

  &__svg:hover {
    fill: rgba(243, 132, 140, 1);
  }
}
