.backdrop {
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0;
    right: 0;
    z-index: 2;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.is-hidden {
    display: none;
    pointer-events: none;
    visibility: hidden;
}

.menu {
    background-color: #fff;
    width: 100%;
    height: 100%;
    position: relative;

    @media screen and (min-width: 1280px) {
        display: none;
    }

    &__logo {
        position: relative;
    }

    &__btn {
        position: absolute;
        right: 20px;
        top: 16px;
        background-color: transparent;
        border: none;

        @media screen and (min-width: 736px) {
            right: 70px;
            top: 32px;
        }
    }

    &__link {
        color: #3C322D;
        font-family: "Montserrat Alternates";
        font-size: 28px;
        font-style: normal;
        font-weight: 500;
        line-height: 1.21;

        @media screen and (min-width: 736px) {
            font-size: 40px;
            font-weight: 500;
            line-height: 1.22;
        }

        &:hover {
            color: #fff;
            width: 174px;
            height: 54px;
            background: linear-gradient(180deg, rgba(248, 110, 103, 0.63) 0%, rgba(253, 86, 143, 0.86) 100%);
            box-shadow: 0px 7px 27px -2px rgba(253, 88, 140, 0.35);

            @media screen and (min-width: 736px) {
            width: 225px;
            height: 69px;
            }
        }
    }

    &__icons {
        display: flex;
        padding: 20px 16px;

        @media screen and (min-width: 736px) {
            padding: 32px 24px;
        }
    }

    &__text {
        margin-top: 46px;

        @media screen and (min-width: 736px) {
            margin-top: 70px;
        }
    }

    &__list {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }

    &__item {
        margin-bottom: 40px;

        @media screen and (min-width: 736px) {
            margin-bottom: 60px;
        }

        &:last-child {
            margin-bottom: 0;
        }
    }

}