.reviews {
    padding-top: 50px;
    padding-bottom: 100px;
    background-image: url(../../imgs/desktop/reviews/reviews-bg1@1x-desktop.webp);
    background-repeat: no-repeat;
    background-position-x: center;
    background-position-y: 101px;

    &__container {
        background-image: url(../../imgs/desktop/reviews/reviews-bg2@1x-desktop.webp), url(../../imgs/desktop/reviews/reviews-bg3@1x-desktop.webp);
    background-repeat: no-repeat;
    background-position-x: 85px, 971px;
    background-position-y: 608px, 697px;
    }

    &__title {
        color: $decor-color;
text-align: center;
font-family: "Montserrat Alternates";
font-size: 32px;
font-weight: 500;
line-height: normal;
margin-bottom: 28px;
    }

    &__list {
        display: flex;
        gap: 32px;
        justify-content: center;
        height: 526px;
    }

    &__item {
display: flex;
flex-direction: column;
align-items: center;
gap: 8px;

       &:nth-child(2) {
        align-self: flex-end;
    } 
    }

    &__img {
        border-radius: 50%;
    }

&__subtitle {
    color: $decor-color;
text-align: center;
font-size: 16px;
font-weight: 500;
line-height: normal;
}

&__icons {
    display: flex;
}

&__icon {
    fill: $star-color;
}

&__text {
    color: $main-text-color;
text-align: center;
font-size: 18px;
font-weight: 400;
line-height: normal;

&:first-child {
    margin-top: 27px;
}

&:nth-child(4) {
    margin-bottom: 28px;
}
}

&__numbers {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 8px;
}

&__line {
width: 35px;
height: 2px;
background-color: $accent;
}

&__number {
    color: $additional-text;
text-align: center;
font-size: 16px;
font-weight: 400;
line-height: normal;
}
}