<header class="header">
    <div class="container">
        <div class="header__box">
            <img src="" alt="logotype" class="header__logo">
            <ul class="header__list">
                <li class="header__item">
                    <a href="#" class="header__nav">
                        About us
                    </a>
                </li>
                <li class="header__item">
                    <a href="#" class="header__nav">
                        Program
                    </a>
                </li>
                <li class="header__item">
                    <a href="#" class="header__nav">
                        Speakers
                    </a>
                </li>
                <li class="header__item">
                    <a href="#" class="header__nav">
                        Price
                    </a>
                </li>
                <li class="header__item">
                    <a href="#" class="header__nav">
                        Reviews
                    </a>
                </li>
            </ul>
            <button type="button" class="header__btn">
                Contacts
            </button>
        </div>
    </div>
</header>