<header class="header">
  <div class="container">
    <svg class="header__logo" width="108" height="50">
      <use href="./imgs/icons/symbol-defs.svg#logo"></use>
    </svg>
    <ul class="header__list">
      <li class="header__item">
        <a href="#" class="header__link">About us</a>
      </li>
      <li class="header__item">
        <a href="#" class="header__link">Program</a>
      </li>
      <li class="header__item">
        <a href="#" class="header__link">Speakers</a>
      </li>
      <li class="header__item">
        <a href="#" class="header__link">Price</a>
      </li>
      <li class="header__item">
        <a href="#" class="header__link">Reviews</a>
      </li>
    </ul>
    <button class="header__btn">Contacts</button>
    <button class="header__menu" data-menu-open>
      <svg class="header__burger" width="30" height="16">
        <use href="./imgs/icons/symbol-defs.svg#menu"></use>
      </svg>
    </button>
  </div>
</header>
