<section class="hero">
    <div class="container">
  <h2 class="hero__title">Donut Masterclass with the Donut King</h2>
  <p class="hero__text">Hosted by Eva Green</p>
  <button class="hero__button">Register</button>
  <ul class="hero__list">
    <li class="hero__item">
      <svg class="hero__svg">
        <use href="./imgs/icons/symbol-defs.svg#twitter"></use>
      </svg>
    </li>
    <li class="hero__item">
      <svg class="hero__svg">
        <use href="./imgs/icons/symbol-defs.svg#instagram"></use>
      </svg>
    </li>
    <li class="hero__item">
      <svg class="hero__svg">
        <use href="./imgs/icons/symbol-defs.svg#facebook"></use>
      </svg>
    </li>
  </ul>
</div>
</section>