<section class="reviews" id="reviews">
  <div class="container">
    <h2 class="reviews__title">Reviews</h2>
    <ul class="reviews__list">
      <li class="reviews__item">
        <picture>
          <source
            srcset="
            ../imgs/desktop/reviews/reviews-1@1x-desktop.webp 1x,
            ../imgs/desktop/reviews/reviews-1@2x-desktop.webp 2x
            "
            media="(min-width: 1200px)"
          />
          <source
            srcset="
            ../imgs/tablet/reviews/reviews-1@1x-tablet.webp 1x,
            ../imgs/tablet/reviews/reviews-1@2x-tablet.webp 2x
            "
            media="(min-width: 768px)"
          />
          <img class="reviews__img" src="" alt="human" />
        </picture>
        <ul class="reviews__icons">
          <li class="reviews__iconitem">
            <svg class="reviews__icon" width="23.75px" height="23.75px">
              <use href="../imgs/icons/symbol-defs.svg#filled-star"></use>
            </svg>
          </li>
          <li class="reviews__iconitem">
            <svg class="reviews__icon" width="23.75px" height="23.75px">
              <use href="../imgs/icons/symbol-defs.svg#filled-star"></use>
            </svg>
          </li>
          <li class="reviews__iconitem">
            <svg class="reviews__icon" width="23.75px" height="23.75px">
              <use href="../imgs/icons/symbol-defs.svg#filled-star"></use>
            </svg>
          </li>
          <li class="reviews__iconitem">
            <svg class="reviews__icon" width="23.75px" height="23.75px">
              <use href="../imgs/icons/symbol-defs.svg#filled-star"></use>
            </svg>
          </li>
          <li class="reviews__iconitem">
            <svg class="reviews__icon" width="23.75px" height="23.75px">
              <use href="../imgs/icons/symbol-defs.svg#star"></use>
            </svg>
          </li>
        </ul>
        <h4 class="reviews__subtitle">John</h4>
      </li>
      <li class="reviews__item">
        <picture>
          <source
            srcset="
            ../imgs/desktop/reviews/reviews-2@1x-desktop.webp 1x,
            ../imgs/desktop/reviews/reviews-2@2x-desktop.webp 2x
            "
            media="(min-width: 1200px)"
          />
          <source
            srcset="
            ../imgs/tablet/reviews/reviews-2@1x-tablet.webp 1x,
            ../imgs/tablet/reviews/reviews-2@2x-tablet.webp 2x
            "
            media="(min-width: 768px)"
          />
          <source
            srcset="
            ../imgs/mobile/reviews/reviews-img@1x-mobile.webp 1x,
            ../imgs/mobile/reviews/reviews-img@2x-mobile.webp 2x
            "
            media="(min-width: 310px)"
          />
          <img class="reviews__img" src="" alt="human" />
        </picture>
        <ul class="reviews__icons">
          <li class="reviews__iconitem">
            <svg class="reviews__icon" width="23.75px" height="23.75px">
              <use href="../imgs/icons/symbol-defs.svg#filled-star"></use>
            </svg>
          </li>
          <li class="reviews__iconitem">
            <svg class="reviews__icon" width="23.75px" height="23.75px">
              <use href="../imgs/icons/symbol-defs.svg#filled-star"></use>
            </svg>
          </li>
          <li class="reviews__iconitem">
            <svg class="reviews__icon" width="23.75px" height="23.75px">
              <use href="../imgs/icons/symbol-defs.svg#filled-star"></use>
            </svg>
          </li>
          <li class="reviews__iconitem">
            <svg class="reviews__icon" width="23.75px" height="23.75px">
              <use href="../imgs/icons/symbol-defs.svg#filled-star"></use>
            </svg>
          </li>
          <li class="reviews__iconitem">
            <svg class="reviews__icon" width="23.75px" height="23.75px">
              <use href="../imgs/icons/symbol-defs.svg#star"></use>
            </svg>
          </li>
        </ul>
        <h4 class="reviews__subtitle">Will</h4>
      </li>
      <li class="reviews__item">
        <picture>
          <source
            srcset="
            ../imgs/desktop/reviews/reviews-3@1x-desktop.webp 1x,
            ../imgs/desktop/reviews/reviews-3@2x-desktop.webp 2x
            "
            media="(min-width: 1200px)"
          />
          <source
            srcset="
            ../imgs/tablet/reviews/reviews-3@1x-tablet.webp 1x,
            ../imgs/tablet/reviews/reviews-3@2x-tablet.webp 2x
            "
            media="(min-width: 768px)"
          />
          <img class="reviews__img" src="" alt="human" />
        </picture>
        <ul class="reviews__icons">
          <li class="reviews__iconitem">
            <svg class="reviews__icon" width="23.75px" height="23.75px">
              <use href="../imgs/icons/symbol-defs.svg#filled-star"></use>
            </svg>
          </li>
          <li class="reviews__iconitem">
            <svg class="reviews__icon" width="23.75px" height="23.75px">
              <use href="../imgs/icons/symbol-defs.svg#filled-star"></use>
            </svg>
          </li>
          <li class="reviews__iconitem">
            <svg class="reviews__icon" width="23.75px" height="23.75px">
              <use href="../imgs/icons/symbol-defs.svg#filled-star"></use>
            </svg>
          </li>
          <li class="reviews__iconitem">
            <svg class="reviews__icon" width="23.75px" height="23.75px">
              <use href="../imgs/icons/symbol-defs.svg#filled-star"></use>
            </svg>
          </li>
          <li class="reviews__iconitem">
            <svg class="reviews__icon" width="23.75px" height="23.75px">
              <use href="../imgs/icons/symbol-defs.svg#star"></use>
            </svg>
          </li>
        </ul>
        <h4 class="reviews__subtitle">Elisabeth</h4>
      </li>
    </ul>
    <p class="reviews__text">
      Last time I have visited a cooking course by Eva I was impressed with the
      way she explained everything to people. You can be sure you will manage to
      cook a delicious dish even if it is your first time in the kitchen! Thank
      you so much for the masterclass! Looking forward to the next one and
      highly recommend it to everyone!
    </p>
    <div class="reviews__numbers">
        <div class="reviews__line"></div>
        <p class="reviews__number">2/15</p>
        <div class="reviews__line"></div>
    </div>
  </div>
</section>
