<section class="speakers">
    <div class="container">
        <h1 class="speakers__title">
            Speakers
        </h1>
        <ul class="speakers__list">
            <li class="speakers__item">
                <div class="speakers__bg-img">
                    <picture>
                        <source srcset="../imgs/desktop/speakers/speakers1@1x-desktop.webp, ../imgs/desktop/speakers/speakers1@2x-desktop.webp" media="(min-width: 1280px)">
                        <source srcset="../imgs/tablet/speakers/speakers1@2x-tablet.webp,  ../imgs/tablet/speakers/speakers1@2x-tablet.webp" media="(min-width: 736px)">
                        <source srcset="../imgs/mobile/speakers/speakers1@1x-mobile.webp , ../imgs/mobile/speakers/speakers1@2x-mobile.webp" media="(max-width: 736px)">
                        
                        <img class="speakers__item-img"  src="" alt="molly">
                    </picture>
                </div>
                <h2 class="speakers__sub-title"> Molly Rivera</h2>
                <p class="speakers__text">Pastry chef, master chocolatier of Spain,</p>
                <img class="speakers__wrap-img" src="../imgs/desktop/speakers/speakers-head1@1x-desktop.webp" alt="">
            </li>
            <li class="speakers__item">
                <div class="speakers__bg-img">
                    <picture>
                        <source srcset="../imgs/desktop/speakers/speakers2@1x-desktop.webp, ../imgs/desktop/speakers/speakers2@2x-desktop.webp" media="(min-width: 1280px)">
                        <source srcset="../imgs/tablet/speakers/speakers2@2x-tablet.webp, ../imgs/tablet/speakers/speakers2@2x-tablet.webp" media="(min-width: 736px)">
                        <source srcset="../imgs/mobile/speakers/speakers2@1x-mobile.webp , ../imgs/mobile/speakers/speakers2@2x-mobile.webp" media="(max-width: 736px)">
                        <img class="speakers__item-img"  src="" alt="sophia">
                    </picture>
                </div>
                <h2 class="speakers__sub-title">Sophia Clark</h2>
                <p class="speakers__text">Сulinary school pastry chef</p>
                <img class="speakers__wrap-img-second" src="../imgs/desktop/speakers/speakers-head2@1x-desktop.webp" alt="">
            </li>
            <li class="speakers__item">
                <div class="speakers__bg-img">
                    <picture>
                        <source srcset="../imgs/desktop/speakers/speakers3@1x-desktop.webp, ../imgs/desktop/speakers/speakers3@2x-desktop.webp" media="(min-width: 1280px)">
                        <source srcset="../imgs/tablet/speakers/speakers3@2x-tablet.webp, ../imgs/tablet/speakers/speakers3@2x-tablet.webp" media="(min-width: 736px)">
                        <source srcset="../imgs/mobile/speakers/speakers3@1x-mobile.webp , ../imgs/mobile/speakers/speakers3@2x-mobile.webp" media="(max-width: 736px)">
                        <img class="speakers__item-img"  src="" alt="isabella">
                    </picture>
                </div>
                <h2 class="speakers__sub-title">Isabella Taylor</h2>
                <p class="speakers__text">Сonsultant in the art of confectionery</p>
                <img class="speakers__wrap-img-therd" src="../imgs/desktop/speakers/speakers-head3@1x-desktop.webp" alt="">
            </li>
            <li class="speakers__item">
                <div class="speakers__bg-img">
                    <picture>
                        <source srcset="../imgs/desktop/speakers/speakers4@1x-desktop.webp, ../imgs/desktop/speakers/speakers4@2x-desktop.webp" media="(min-width: 1280px)">
                        <source srcset="../imgs/tablet/speakers/speakers4@2x-tablet.webp, ../imgs/tablet/speakers/speakers4@2x-tablet.webp" media="(min-width: 736px)">
                        <source srcset="../imgs/mobile/speakers/speakers4@1x-mobile.webp , ../imgs/mobile/speakers/speakers4@2x-mobile.webp" media="(max-width: 736px)">
                        <img class="speakers__item-img"  src="" alt="evelyn">
                    </picture>
                </div>
                <h2 class="speakers__sub-title">Evelyn Miller</h2>
                <p class="speakers__text">Master- chocolatier in Spain</p>
                <img class="speakers__wrap-img-fours" src="../imgs/desktop/speakers/speakers-head4@1x-desktop.webp" alt="">
            </li>
        </ul>
    </div>
</section>